# Collaborative Filtering

## The Framework

In [39]:
import pandas as pd
import numpy as np

In [40]:
#Load the u.user file into a dataframe
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv('../data/movielens/u.user', sep='|', names=u_cols,
 encoding='latin-1')

users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [41]:
#Load the u.item file into a dataframe
i_cols = ['movie_id', 'title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('../data/movielens/u.item', sep='|', names=i_cols, encoding='latin-1')

movies.head()

,movie_id,title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [42]:
#Remove all information except Movie ID and title
movies = movies[['movie_id', 'title']]

In [43]:
#Load the u.data file into a dataframe
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

ratings = pd.read_csv('../data/movielens/u.data', sep='\t', names=r_cols,
 encoding='latin-1')

ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [44]:
#Drop the timestamp column
ratings = ratings.drop('timestamp', axis=1)

In [45]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

#Assign X as the original ratings dataframe and y as the user_id column of ratings.
X = ratings.copy()
y = ratings['user_id']

#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, stratify=y, random_state=42)

In [46]:
#Import the mean_squared_error function
from sklearn.metrics import mean_squared_error

#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [47]:
#Define the baseline model to always return 3.
def baseline(user_id, movie_id):
    return 3.0

In [48]:
#Function to compute the RMSE score obtained on the testing set by a model
def score(cf_model):

    #Construct a list of user-movie tuples from the testing dataset
    id_pairs = zip(X_test['user_id'], X_test['movie_id'])

    #Predict the rating for every user-movie tuple
    y_pred = np.array([cf_model(user, movie) for (user, movie) in id_pairs])

    #Extract the actual ratings given by the users in the test data
    y_true = np.array(X_test['rating'])

    #Return the final RMSE score
    return rmse(y_true, y_pred)

In [49]:
score(baseline)

1.2488234462885457

## User Based Collaborative Filtering

### Ratings Matrix

In [50]:
#Build the ratings matrix using pivot_table function
r_matrix = X_train.pivot_table(values='rating', index='user_id', columns='movie_id')

r_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1671,1672,1673,1674,1676,1677,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,NaN,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Mean

In [51]:
#User Based Collaborative Filter using Mean Ratings
def cf_user_mean(user_id, movie_id):

    #Check if movie_id exists in r_matrix
    if movie_id in r_matrix:
        #Compute the mean of all the ratings given to the movie
        mean_rating = r_matrix[movie_id].mean()

    else:
        #Default to a rating of 3.0 in the absence of any information
        mean_rating = 3.0

    return mean_rating

In [52]:
#Compute RMSE for the Mean model
score(cf_user_mean)

1.0300824802393536

### Weighted Mean

In [53]:
#Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)

In [54]:
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

In [55]:
#Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

cosine_sim.head(10)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.108361,0.046638,0.029577,0.245753,0.335853,0.344724,0.191582,0.057149,0.251979,...,0.257073,0.069412,0.231643,0.108093,0.176842,0.104799,0.232472,0.051528,0.129555,0.256333
2,0.108361,1.000000,0.057613,0.130237,0.054918,0.190552,0.079399,0.076146,0.167992,0.147376,...,0.136993,0.252887,0.255454,0.285193,0.232751,0.149088,0.102807,0.062386,0.109143,0.107686
3,0.046638,0.057613,1.000000,0.139805,0.000000,0.032485,0.043869,0.080968,0.022263,0.059925,...,0.027402,0.000000,0.175060,0.010343,0.105635,0.019052,0.127099,0.023917,0.060392,0.000000
4,0.029577,0.130237,0.139805,1.000000,0.000000,0.045190,0.088586,0.199526,0.135013,0.026919,...,0.055392,0.049773,0.076549,0.139382,0.113886,0.000000,0.130343,0.077357,0.157890,0.063911
5,0.245753,0.054918,0.000000,0.000000,1.000000,0.176443,0.281860,0.132205,0.038790,0.134200,...,0.183969,0.019305,0.073714,0.041807,0.081088,0.029743,0.188392,0.068342,0.055557,0.207259
6,0.335853,0.190552,0.032485,0.045190,0.176443,1.000000,0.394725,0.143385,0.125126,0.372679,...,0.328643,0.070809,0.135806,0.171670,0.125446,0.086464,0.230566,0.095478,0.197307,0.185268
7,0.344724,0.079399,0.043869,0.088586,0.281860,0.394725,1.000000,0.215861,0.121224,0.378723,...,0.339853,0.110866,0.096055,0.104690,0.126108,0.075012,0.270071,0.020036,0.236086,0.266571
8,0.191582,0.076146,0.080968,0.199526,0.132205,0.143385,0.215861,1.000000,0.116173,0.169088,...,0.150048,0.064242,0.118297,0.053969,0.168057,0.095736,0.164157,0.076269,0.089871,0.210995
9,0.057149,0.167992,0.022263,0.135013,0.038790,0.125126,0.121224,0.116173,1.000000,0.152694,...,0.082819,0.064400,0.127051,0.069251,0.095673,0.000000,0.131458,0.106763,0.089297,0.089583
10,0.251979,0.147376,0.059925,0.026919,0.134200,0.372679,0.378723,0.169088,0.152694,1.000000,...,0.279849,0.087828,0.131888,0.111841,0.094423,0.080883,0.255758,0.063461,0.169309,0.181031

In [56]:
#User Based Collaborative Filter using Weighted Mean Ratings
def cf_user_wmean(user_id, movie_id):

    #Check if movie_id exists in r_matrix
    if movie_id in r_matrix:

        #Get the similarity scores for the user in question with every other user
        sim_scores = cosine_sim[user_id]

        #Get the user ratings for the movie in question
        m_ratings = r_matrix[movie_id]

        #Extract the indices containing NaN in the m_ratings series
        idx = m_ratings[m_ratings.isnull()].index

        #Drop the NaN values from the m_ratings Series
        m_ratings = m_ratings.dropna()

        #Drop the corresponding cosine scores from the sim_scores series
        sim_scores = sim_scores.drop(idx)

        #Compute the final weighted mean
        wmean_rating = np.dot(sim_scores, m_ratings)/ sim_scores.sum()

    else:
        #Default to a rating of 3.0 in the absence of any information
        wmean_rating = 3.0

    return wmean_rating

In [58]:
score(cf_user_wmean)

C:\Users\minhh\AppData\Local\Temp\ipykernel_61612\1571266036.py:23: RuntimeWarning: invalid value encountered in scalar divide
  wmean_rating = np.dot(sim_scores, m_ratings)/ sim_scores.sum()

ValueError: Input contains NaN.

### Demographics

In [59]:
#Merge the original users dataframe with the training set
merged_df = pd.merge(X_train, users)

merged_df.head()

   user_id  movie_id  rating  age sex     occupation zip_code
0      862       177       4   25   M      executive    13820
1       70       193       4   27   M       engineer    60067
2      666       527       4   44   M  administrator    61820
3      535       168       5   45   F       educator    80302
4      603      1240       5   21   M     programmer    47905

In [60]:
#Compute the mean rating of every movie by gender
gender_mean = merged_df[['movie_id', 'sex', 'rating']].groupby(['movie_id', 'sex'])['rating'].mean()

In [61]:
#Set the index of the users dataframe to the user_id
users = users.set_index('user_id')

In [62]:
#Gender Based Collaborative Filter using Mean Ratings
def cf_gender(user_id, movie_id):

    #Check if movie_id exists in r_matrix (or training set)
    if movie_id in r_matrix:
        #Identify the gender of the user
        gender = users.loc[user_id]['sex']

        #Check if the gender has rated the movie
        if gender in gender_mean[movie_id]:

            #Compute the mean rating given by that gender to the movie
            gender_rating = gender_mean[movie_id][gender]

        else:
            gender_rating = 3.0

    else:
        #Default to a rating of 3.0 in the absence of any information
        gender_rating = 3.0

    return gender_rating

In [63]:
score(cf_gender)

1.0392906999935203

In [64]:
#Compute the mean rating by gender and occupation
gen_occ_mean = merged_df[['sex', 'rating', 'movie_id', 'occupation']].pivot_table(
    values='rating', index='movie_id', columns=['occupation', 'sex'], aggfunc='mean')

gen_occ_mean.head()

occupation administrator           artist              doctor educator  \
sex                    F         M      F         M         M        F
movie_id
1               3.937500  3.750000    5.0  3.400000  3.666667     3.25
2               3.000000  3.666667    NaN       NaN       NaN     4.00
3               3.500000  4.000000    NaN       NaN       NaN      NaN
4               3.666667  3.600000    NaN  4.666667  3.000000     2.50
5               4.000000  2.333333    NaN       NaN       NaN     4.00

occupation           engineer           entertainment  ... salesman       \
sex                M        F         M             F  ...        F    M
movie_id                                               ...
1           3.884615      4.0  4.083333           4.0  ...      NaN  4.0
2           3.500000      NaN  3.066667           NaN  ...      NaN  NaN
3           2.000000      NaN  3.777778           NaN  ...      NaN  NaN
4           3.800000      4.0  3.650000           NaN  ...      4.0  4.0
5           2.333333      NaN  3.500000           NaN  ...      NaN  NaN

occupation scientist        student           technician           writer  \
sex                F    M         F         M          F         M      F
movie_id
1                3.5  4.0  4.043478  3.796296        4.0  3.750000   4.00
2                NaN  3.0  2.666667  3.277778        NaN  2.714286    NaN
3                NaN  NaN  3.000000  3.391304        NaN  4.250000    NaN
4                NaN  3.4  3.250000  3.777778        NaN  3.333333   4.25
5                NaN  4.0  4.333333  3.111111        NaN  3.333333   4.00

occupation
sex                M
movie_id
1           3.000000
2           2.333333
3           1.000000
4           3.250000
5           2.000000

[5 rows x 41 columns]

In [65]:
#Gender and Occupation Based Collaborative Filter using Mean Ratings
def cf_gen_occ(user_id, movie_id):

    #Check if movie_id exists in gen_occ_mean
    if movie_id in gen_occ_mean.index:

        #Identify the user
        user = users.loc[user_id]

        #Identify the gender and occupation
        gender = user['sex']
        occ = user['occupation']

        #Check if the occupation has rated the movie
        if occ in gen_occ_mean.loc[movie_id]:

            #Check if the gender has rated the movie
            if gender in gen_occ_mean.loc[movie_id][occ]:

                #Extract the required rating
                rating = gen_occ_mean.loc[movie_id][occ][gender]

                #Default to 3.0 if the rating is null
                if np.isnan(rating):
                    rating = 3.0

                return rating

    #Return the default rating
    return 3.0

In [66]:
score(cf_gen_occ)

1.1419651376788005

## Model Based Approaches

In [71]:
from surprise import Reader, Dataset, KNNBasic
from surprise.model_selection import cross_validate

# Define a Reader object
# The Reader object helps in parsing the file or dataframe containing ratings
reader = Reader()

# Load the dataset
# Replace 'path_to_data' with the path to your data file or DataFrame
data = Dataset.load_from_df(ratings, reader)

# Define a model
model = KNNBasic()

# Perform cross-validation
# 'cv' parameter defines the number of folds for cross-validation
# 'measures' parameter defines the evaluation metrics to be used
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9814  0.9836  0.9795  0.9717  0.9743  0.9781  0.0044
MAE (testset)     0.7735  0.7797  0.7743  0.7680  0.7679  0.7727  0.0044
Fit time          0.19    0.21    0.20    0.19    0.20    0.20    0.01
Test time         1.45    1.49    1.53    1.38    1.39    1.45    0.06

{'test_rmse': array([0.98136229, 0.98359089, 0.97954558, 0.9717382 , 0.97428365]),
 'test_mae': array([0.77352157, 0.77973332, 0.77426517, 0.76796838, 0.76789792]),
 'fit_time': (0.1912548542022705,
  0.20667338371276855,
  0.20210933685302734,
  0.191267728805542,
  0.20474863052368164),
 'test_time': (1.4498858451843262,
  1.4873714447021484,
  1.5336377620697021,
  1.375715970993042,
  1.3893485069274902)}

In [73]:
#Import SVD
from surprise import SVD

#Define the SVD algorithm object
svd = SVD()

#Evaluate the performance in terms of RMSE
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9395  0.9344  0.9449  0.9286  0.9376  0.9370  0.0054
MAE (testset)     0.7417  0.7376  0.7438  0.7300  0.7402  0.7386  0.0048
Fit time          0.64    0.60    0.69    0.65    0.61    0.64    0.03
Test time         0.12    0.06    0.06    0.06    0.11    0.08    0.03

{'test_rmse': array([0.93946372, 0.93437359, 0.9448507 , 0.92863596, 0.9375762 ]),
 'test_mae': array([0.74168826, 0.73755748, 0.74376039, 0.72995862, 0.7401536 ]),
 'fit_time': (0.6352851390838623,
  0.603243350982666,
  0.6896922588348389,
  0.6507210731506348,
  0.6062266826629639),
 'test_time': (0.1246182918548584,
  0.05600118637084961,
  0.05770397186279297,
  0.05600333213806152,
  0.11029767990112305)}